@import url("./variable.css");
@import url("./home.css");
@import url("./about.css");
@import url("./why-choose.css");
@import url("./our-programme.css");
@import url("./faculty.css");
@import url("./testimonial.css");
@import url("./gallery.css");
@import url("./concept.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-dark);
    line-height: 1.6;
    overflow-x: hidden;
}